.btn-primary {
    font-size: 18px;
   --bs-btn-bg: #66132e !important;
   --bs-btn-border-color: #B52E5C !important;
   --bs-btn-border-radius: 5px;
   --bs-btn-hover-bg: rgb(181, 46, 92);
   --bs-btn-hover-border-color:rgb(181, 46, 92);;
   transition: 1s ease all;
  }
  
  .fa-regular {
    color:rgb(150, 206, 77)
  }
  
  .hr {
    border: 1px dashed #000; 
    width: 50%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%
  }

  #container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(102, 9, 40) 0%, rgb(167, 66, 77)50%, rgb(102, 9, 40) 100%);
    background-size: cover;
  }