.btn-primary {
    font-size: 18px;
   --bs-btn-bg: #8e5febab !important;
   --bs-btn-border-color: #530fdafd !important;
   --bs-btn-border-radius: 5px;
   --bs-btn-hover-bg: rgb(150, 206, 77);
   --bs-btn-hover-border-color:rgb(150, 206, 77);
   transition: 1s ease all;
  }
  
  .fa-regular {
    color:rgb(150, 206, 77)
  }
  
  .hr {
    border: 1px dashed #000; 
    width: 50%; 
    margin: auto; 
    margin-top: 5%; 
    margin-bottom: 5%
  }

  #container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,120,1) 42%, rgba(0,212,255,1) 100%);
    background-size: cover;
  }